node_modules/
.next/
out/
.env*.local
.DS_Store
*.log
.vercel
package-lock.json
next-swc.darwin-arm64.node
next-swc.darwin-x64.node
next-swc.win32-x64.node
next-swc.win32-arm64.node
next-swc.linux-x64-gnu.nodeß